<DOCTYPE html>
  <head>
    <title>Home | Alpha Blog</title>
  </head>
  
  <html>
  <body style="background-color: lightblue">
    
    <div class= "center jumbotron">
      
      <h1>Alpha Blog</h1>
      <%= link_to "Sign up", "#", class: "btn btn-success btn-lg" %>
      
    </div>
    
  </body> 
      
  </html>

</DOCTYPE>