<DOCTYPE html>
  <head>
    <title>Home | Alpha Blog</title>
  </head>
  
  <html>
  <body style="background-color: lightblue">
    
    <div style= "background-color: lightgreen;height: 100px;margin-top:-50px">
      <h1 style="text-align:center; font-size: 100px">Home of Alpha Blog</h1>
    </div>
    
    <div>
      <%= link_to "About", about_path %>
    </div>
    
  </body> 
      
  </html>

</DOCTYPE>